<!doctype html>

<html lang="en">

<head>
    
    <meta charset="UTF-8">
    
    <title></title>
</head>

<body>

body{
    background-color: pink;
    background-size: cover;  
    background-repeat: no-repeat;
}

</body>
                   
</html>