<!doctype html>

<html lang="en">

<head>
    
    <meta charset="UTF-8">
    
    <title></title>
</head>

<body>

h1{

}

h1{
    text-decoration: none;
    color: #B5338A;
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 45px;
    text-align: center;
}

body{
    background-color: pink;
}

section{
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust for better spacing */
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    margin-bottom: 90px;
}

article{
    position: relative;
    flex-direction: row;

}

.room{
    position: absolute;
    z-index: 1;
    top: -280px;
    right: 55px;
}

.book{
    transform: rotate(-7deg);
    position: absolute;
    z-index: 2;
    top: 310px;
    right: 810px;
    transform: scale(1);
    transition: transform 0.3s
}

.book:hover {
    transform: rotate(-10deg) scale(1);
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: rotate(-10deg) scale(0.95);
    }

    70% {
        transform: rotate(-10deg) scale(1);
    }

    100% {
        transform: rotate(-10deg) scale(0.95);
    }
}

div {
    padding: 20px;
    display: none;
    position: absolute;
    z-index: 2;
    top: 520px;
    right: 850px;
    color: #B5338A;
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    transform: rotate(-9deg)
  }
    
  span:hover + div {
    display: block;
  }

  

h2{
    position: absolute;
    text-decoration: none;
    color: #B5338A;
    font-family: "Cormorant Infant", serif;
    font-style: normal;
    font-size: 20px;
    margin: 30px 200px 0px 200px;
    top: 530px;
    left: 300px;
    line-height: 30px;
}



</body>
                   
</html>